@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
:root{
    --primary: #5b9797;
}

body{
   background-color: rgb(233, 233, 233);
   padding: 0;
   margin: 0; 
   font-family: 'Alata', sans-serif;
   position: relative;
}
h1, h2, h3{
    font-family: 'Orbitron', sans-serif;
    word-spacing: 2px;
    line-height: 20px;
}
@media screen and (max-width: 800px){
    header{
        /* position: fixed; */
        background: var(--primary);
        padding: 3%;
        color: white;
        box-shadow: 0 0 5px rgb(73, 73, 73);
        font-size: 20px;
        font-family: 'Orbitron', sans-serif;
    }
    section{
        margin: 3%;
        box-shadow: 0 0 5px grey;
        background: white;
        padding: 3%;
        border-radius: 5px;
    }
    section.banner .title{
        color: var(--primary);
    }
    section.banner .sub-text{
        color: rgb(194, 194, 194);
        font-weight: 200;
    }
    section.steps h2{
        color: var(--primary);
        font-weight: bold;
    }
    footer{
        text-align: center;
    }
    footer p{
        color: rgb(161, 161, 161);
    }
    li{
        list-style-type: square;
        font-weight: bold;
    }
    section div{
        text-align: center;
        margin-bottom: 2%;
    }
    button{
        text-align: center;
        background-color: var(--primary);
        /* height: 30px; */
        padding: 3%;
        border: none;
        color: white;
        font-size: 14px;
        border-radius: 2px;
        box-shadow: 0 0 5px grey;
    }
    p.important-notes{
        border-left: 3px solid #5b9797;
        background-color: rgb(238, 238, 238);
        color: #437070;
        padding: 1%;
        font-size: 11px;
    }
}
@media screen and (min-width: 801px){
    header{
        position: sticky;
        top: 0;
        left: 0;
        background: var(--primary);
        padding: 2%;
        color: white;
        box-shadow: 0 0 5px rgb(73, 73, 73);
        font-size: 20px;
        font-family: 'Orbitron', sans-serif;
    }
    header span{
        color: white;
    }
    section{
        margin-top: 2%;
        margin: 5%;
        box-shadow: 0 0 5px rgb(207, 207, 207);
        background: white;
        padding: 3%;
        border-radius: 1px;
    }
    h1, h2{
        color: var(--primary);
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 22px;
    }
    h3{
        color: rgb(2, 2, 66);
        font-size: 18px;
    }
    p, span, li{
        font-size: 16px;
        color: grey;
    }
    li{
        margin-bottom: 10px;
    }
    section div {
        text-align: center;
    }
    button{
        padding: 1%;
        border: none;
        border-radius: 3px;
        background-color: var(--primary);
        color: white;
        box-shadow: 0 0 5px grey;
        margin: 3% auto;
    }
    button:hover{
        background-color: rgb(4, 133, 133);
        cursor: pointer;
    }
    footer{
        text-align: center;
    }
    footer p{
        color: rgb(161, 161, 161);
    }
    p.important-notes{
        border-left: 3px solid #5b9797;
        background-color: rgb(238, 238, 238);
        color: #426d6d;
        padding: 1%;
        font-size: 14px;
    }
}